.landing {
  user-select: none;
  &__text {
    display: flex;
    flex-direction: column;

    button {
      align-self: center;
    }
  }

  &__container {
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 70rem;
    height: auto;

    @include respond(footer) {
      width: 50rem;
    }

    @include respond(landing) {
      width: 35rem;
    }
  }
}
