.steps {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 5rem 0;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }

  & > * {
    flex-basis: 100%;

    @include respond(tab-port) {
      flex-basis: auto;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include respond(mobile-lg) {
      width: 45rem;
      margin: auto;
    }

    @include respond(mobile-md) {
      width: 30rem;
    }
  }

  .step {
    display: flex;
    align-items: center;
    font-weight: 300;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &__count {
      display: flex;
      margin-right: 2rem;
      border: 0.1rem solid $primary-orange;
      font-size: 2.5rem;
      padding: 2rem;
      color: $primary-orange;
      height: 6rem;
      width: 6rem !important;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      font-weight: 100;
    }
  }

  &__plateform {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    @include respond(mobile-lg) {
      justify-content: center;
    }

    .download {
      height: 5rem;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.4rem 4rem rgba($black, 0.2);
      }
    }
  }
}

.phone-container {
  object-fit: cover;
  height: 45rem;

  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;

  @include respond(tab-port) {
    height: 35rem !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  img {
    height: 100%;
    margin-right: 10rem;

    @include respond(tab-port) {
      margin-right: 0;
      height: 100%;
    }
  }
}

.phone__image {
  height: 100%;
}
