.slide-in-lazy {
  transform: translateY(15rem);
  opacity: 0;

  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
