* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-lan) {
    font-size: 56.25%;
  }

  @include respond(mobile) {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
}
