@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1.heading-primary {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  word-spacing: 0.4rem;
}

@media only screen and (max-width: 31.5em) {
  h1.heading-primary {
    font-size: 2.5rem;
  }
}

h2.heading-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  word-spacing: 0.5rem;
}

@media only screen and (max-width: 31.5em) {
  h2.heading-primary {
    font-size: 2rem;
  }
}

h3.heading-primary {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 31.5em) {
  h3.heading-primary {
    font-size: 2rem;
  }
}

p.paragraph-primary {
  font-size: 1.5rem;
}

p.paragraph-secondary {
  font-size: 1.2rem;
}

.text-white {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 71.87em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  overflow-x: hidden;
}

.u-center-text {
  text-align: center;
}

.u-width-4 {
  width: 40%;
  line-height: 1.4;
  margin: auto;
}

@media only screen and (max-width: 53.125em) {
  .u-width-4 {
    width: 60%;
  }
}

@media only screen and (max-width: 31.5em) {
  .u-width-4 {
    width: 90%;
  }
}

.u-width-7-nocenter {
  width: 70%;
  line-height: 1.35;
}

@media only screen and (max-width: 37.5em) {
  .u-width-7-nocenter {
    width: 90%;
  }
}

.u-width-5-nocenter {
  width: 50%;
  line-height: 1.4;
}

.u-margin-bg {
  margin-top: 5rem;
}

.u-margin-md {
  margin-top: 3rem;
}

.u-margin-sm {
  margin-top: 1.5rem;
}

.slide-in-lazy {
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
  opacity: 0;
  -webkit-animation: slideIn 1s ease-in-out forwards;
          animation: slideIn 1s ease-in-out forwards;
}

@-webkit-keyframes slideIn {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideIn {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.landing {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.landing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__text button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.landing__container {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__image {
  width: 70rem;
  height: auto;
}

@media only screen and (max-width: 50em) {
  .landing__image {
    width: 50rem;
  }
}

@media only screen and (max-width: 31.5em) {
  .landing__image {
    width: 35rem;
  }
}

.landing__figures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8rem;
}

@media only screen and (max-width: 37.5em) {
  .landing__figures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.landing__data {
  width: 100%;
  position: relative;
  height: 10rem;
  width: 15rem;
  margin: auto;
}

@media only screen and (max-width: 37.5em) {
  .landing__data {
    text-align: center;
  }
}

.landing__data__img {
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  height: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .landing__data__img {
    left: 2rem;
  }
}

.landing__data-number {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 900;
}

.landing__data-text {
  display: block;
  font-family: 'Poppins', sans-serif;
}

.top-bg {
  width: 100%;
}

.top-bg img {
  width: 100%;
}

.bottom-bg {
  width: 100%;
}

.bottom-bg img {
  width: 100%;
}

.footer-bg {
  width: 100%;
}

.footer-bg img {
  width: 100%;
}

.about {
  width: 100%;
  margin: -0.5rem 0;
  background: #f5faff;
  padding: 6rem 0;
}

@media only screen and (max-width: 53.125em) {
  .about {
    padding: 5rem 0;
  }
}

.about__grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 53.125em) {
  .about__grow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
}

.about__grow__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 53.125em) {
  .about__grow__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__grow__text .paragraph-secondary {
    width: 50%;
  }
}

@media only screen and (max-width: 31.5em) {
  .about__grow__text .paragraph-secondary {
    width: 80%;
  }
}

.about__grow__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90rem;
}

@media only screen and (max-width: 71.87em) {
  .about__grow__image {
    width: 70rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .about__grow__image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 50rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .about__grow__image {
    width: 35rem;
  }
}

.about__grow__image img {
  width: 100%;
}

.about-2 {
  background: #fff;
  margin: 2rem 0;
}

.about__conversation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 53.125em) {
  .about__conversation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
}

.about__conversation__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90rem;
}

@media only screen and (max-width: 71.87em) {
  .about__conversation__image {
    width: 70rem;
  }
}

@media only screen and (max-width: 53.125em) {
  .about__conversation__image {
    width: 50rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .about__conversation__image {
    width: 35rem;
  }
}

.about__conversation__image img {
  width: 100%;
}

.about__conversation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 53.125em) {
  .about__conversation__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__conversation__text .paragraph-secondary {
    width: 50%;
  }
}

@media only screen and (max-width: 31.5em) {
  .about__conversation__text .paragraph-secondary {
    width: 80%;
  }
}

.btn {
  width: 14rem;
  padding: 1.5rem 3rem;
  border: none;
  background: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.btn-pink {
  color: #ff52bf;
  font-weight: 600;
  border: 0.05rem solid #ff52bf;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(255, 82, 191, 0.2);
          box-shadow: 0 0.5rem 2rem rgba(255, 82, 191, 0.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 37.5em) {
  .btn-pink {
    width: 14rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 18.75em) {
  .btn-pink {
    padding: 1rem 2rem;
  }
}

.btn-pink:hover {
  -webkit-box-shadow: 0 0.8rem 2rem rgba(255, 82, 191, 0.4);
          box-shadow: 0 0.8rem 2rem rgba(255, 82, 191, 0.4);
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.btn-cta {
  width: 25rem;
  padding: 1.5rem 3rem;
  color: #fff;
  background: #ff52bf;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 600;
}

.btn-cta-small {
  width: 15rem;
  border: 1px solid #ff52bf;
  border-radius: 10px;
  cursor: pointer;
}

.btn-cta-small:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  background: #ff7ace;
  -webkit-box-shadow: 0 0.05rem 0.5rem rgba(255, 82, 191, 0.8);
          box-shadow: 0 0.05rem 0.5rem rgba(255, 82, 191, 0.8);
}

.btn-cta:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  background: #ff7ace;
  -webkit-box-shadow: 0 0.2rem 1rem rgba(255, 82, 191, 0.8);
          box-shadow: 0 0.2rem 1rem rgba(255, 82, 191, 0.8);
}

.header {
  padding: 3rem 0;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .header__brand {
    -o-object-fit: cover;
       object-fit: cover;
    width: 20rem;
  }
  .header__logo {
    width: 100%;
  }
}

@media only screen and (max-width: 18.75em) {
  .header__brand {
    -o-object-fit: cover;
       object-fit: cover;
    width: 14rem;
  }
}

.footer__span {
  background: #00252e;
  padding: 5rem 0 10rem 0;
  margin: -0.5rem auto;
}

@media only screen and (max-width: 50em) {
  .footer__span {
    margin: -0.6rem auto;
    padding: 8rem 0 3rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__span {
    padding: 8rem 0 1rem 0;
  }
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 50em) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 5rem;
  }
}

.footer__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

@media only screen and (max-width: 50em) {
  .footer__brand {
    width: 50rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 31.5em) {
  .footer__brand {
    width: 100%;
  }
}

.footer__logo {
  width: 25rem;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer .svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .svg:hover {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
  -ms-flex-preferred-size: 40rem;
      flex-basis: 40rem;
}

.footer .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2rem;
}

@media only screen and (max-width: 31.5em) {
  .footer .search-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .search-box .search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 10px;
  color: #00252e;
  font-weight: 600;
}

@media only screen and (max-width: 31.5em) {
  .footer .search-box .search {
    height: 3.5rem;
  }
}

.row {
  max-width: 115rem;
  width: 100%;
  padding: 0 1rem;
  margin: auto;
  opacity: 1;
  -webkit-transition: opacity 0.5s, -webkit-transform 1s;
  transition: opacity 0.5s, -webkit-transform 1s;
  transition: opacity 0.5s, transform 1s;
  transition: opacity 0.5s, transform 1s, -webkit-transform 1s;
}

.section-1 {
  margin-top: 8rem;
}

.section-5 {
  margin: 10rem 0;
}

.slide-up {
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/*# sourceMappingURL=main.css.map */